<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Liens entre les députés</title>
<style>
.node {
          stroke: #fff;
          stroke-width: 1.5px;
      }

      .link {
          stroke: #999;
          stroke-opacity: .8;
      }
      .nodelabel {
        font-size:8;
      }
      .group {
          stroke: #fff;
          stroke-width: 1.5px;
          opacity: 0.5;
        }
</style>
</head>
<body>
<h2>Liens entre les députés</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.min.js"></script>
<script src="/static/js/cola.min.js"></script>

<script>
    var width = 2048,
        height = 2048;

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var cola = cola.d3adaptor(d3)
        .size([width, height]);

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    d3.json("connections.json", function (error, graph) {
        var groupMap = {};
            graph.nodes.forEach(function (v, i) {
                var g = v.group;
                if (typeof groupMap[g] == 'undefined') {
                    groupMap[g] = [];
                }
                groupMap[g].push(i);

                v.width = v.height = 10;
            });

        var groups = [];
            for (var g in groupMap) {
                groups.push({ id: g, leaves: groupMap[g] });
            }

        cola
            .nodes(graph.nodes)
            .links(graph.links)
            .jaccardLinkLengths(140,1)
            .avoidOverlaps(true)
            .start(30,0,10);



        var link = svg.selectAll(".link")
            .data(graph.links)
          .enter().append("line")
            .attr("class", "link")
            .style("stroke-width", function (d) { return 1.2; });

       var node = svg.selectAll(".node")
                .data(graph.nodes)
              .enter().append("circle")
            .attr("class", "node")
            .attr("r", function(d) { return 10+8*Math.log10(d.count); })
            .style("fill", function (d) { return color(d.group); })
            .call(cola.drag);

        var nodelabels = svg.selectAll(".nodelabel")
                .data(graph.nodes)
            .enter()
            .append("text")
            .attr("x",function(d){return d.x;})
            .attr("y",function(d){return d.y;})
            .attr("class","nodelabel")
            .attr("stroke",function(d){ return 'black';})
            .attr("font-size",function(d){ return 10+6*Math.log10(d.count);})
            .text(function(d){return ((d.count>9)?d.name:'');});


        node.append("title")
            .text(function (d) { return d.name+' ('+d.count+')'; });




        cola.on("tick", function () {
            link.attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; });

            node.attr("cx", function (d) { return d.x; })
                .attr("cy", function (d) { return d.y; });

            nodelabels.attr("x", function(d) { return d.x; })
                      .attr("y", function(d) { return d.y; });

        });
    });
</script>
</body>
</html>
